* {
    box-sizing: border-box;
	font-family: Helvetica;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
	width: 100%;
}

body {
	margin: 0px;
	background-color: #DCDCDC;
}

header {
    background-color: #191970;
    padding: 0px;
    color: #fff;
    text-align: center;
}

ol {
    text-align: left;
}

a:link {
    text-decoration: none;
	color: #fff;
}

a:visited {
    text-decoration: none;
	color: #fff;
}

a:hover {
    text-decoration: none;
	color: #f0f0f0;
}

a:active {
    text-decoration: none;
	color: #fff;
}

.shadow {
    text-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
    padding: 15px;
}

.content-style {
    background-color: #008080;
    border-radius: 5px;
    color: #fff;
    text-align: justify;
}

.button {
    margin: 0px;
    padding: 8px;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.button p {
    margin: 0px;
}

#fractal-1 .button {background-color: #79bea8;}
#fractal-1 .button:hover {background-color: #ddffff;}
#fractal-2 .button {background-color: #498d79;}
#fractal-2 .button:hover {background-color: #aaf1d9;}
#fractal-3 .button {background-color: #0d5f4a;}
#fractal-3 .button:hover {background-color: #74bea5;}
#fractal-4 .button {background-color: #002016;}
#fractal-4 .button:hover {background-color: #4e7466;}
#fractal-5 .button {background-color: #000f00;}
#fractal-5 .button:hover {background-color: #4355e4e;}
#fractal-6 .button {background-color: #00000e;}
#fractal-6 .button:hover {background-color: #35505e;}

.form {
    margin: 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 8px;
}

.panel-button {
    padding-left: 25%;
    padding-right: 25%;
}

.margin-top {
    margin-top: 16px;
}

.panel {
    text-align: center;
    padding: 16px;
    position: relative;
}

label {
    color: #000;
}

h1 {
    color: #000;
}

img {
    margin: 8px;
}

#panel-img {
	z-index: 3;
    display: none;
    padding: 8px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}

#close-img {
    color: #fff;
    text-align: right;
    margin: 0px;
    margin-right: 16px;
}

#fractal-3 h1, #fractal-4 h1, #fractal-5 h1, #fractal-6 h1 {
    color: #fff;
}

.color-1 {
    background-color: #aaf1d9;
    color: rgba(31, 45, 61, 0.4);
}
.color-2 {
    background-color: #79BEA8;
    color: rgba(31, 45, 61, 0.4);
}
.color-3 {
    background-color: #448D76;
    color: rgba(255, 255, 255, 0.6);
}
.color-4 {
    background-color: #23483C;
    color: rgba(255, 255, 255, 0.6);
}
.color-5 {
    background-color: #093426;
    color: rgba(255, 255, 255, 0.6);
}
.color-6 {
    background-color: #092834;
    color: rgba(255, 255, 255, 0.6);
}

/* Para Tablet: */
@media only screen and (min-width: 600px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

}

/* Para desktop: */
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}